html{height:100%;}

body{
	font-family: arial, verdana, sans-serif ;
	font-size: 10pt ;
	color: black ;
	background-color: #DEEBF1;
	height:100%;
}

/* ----- Zone supérieure ----- */
/* --- Menu principal --- */
#bloc_menu1{
	margin:0;
	width: 100%;
	height:100px;
	background:url(images/menu.gif);
	background-repeat:no-repeat;
	background-position:center;
}
#menu{
	color:white;
	font-size:14px;
	font-weight:bold;
}
ul#menu {
	list-style-type: none;
	padding-top:35px;
	border-style:none;
	text-align:center;
}
#menu li {
	display:inline;
}
#menu a{
	color:white;
	text-decoration:none;
}
#menu a:hover{color:black;}
/* --- Bloc menu préférences --- */
#bloc_menu2{
	margin-top:-25px;
	margin-right:+120px;
}
#menu2{
	color:black;
	font-size:10px;
	font-weight:bold;
}
ul#menu2 {
	list-style-type: none;
	padding-right:20px;
	border-style:none;
	text-align:right;
}
#menu2 li {
	display:inline;
}
#menu2 a{
	color:black;
	text-decoration:none;
}
#menu2 a:hover{color:white;}

/* ----- Zone principale ----- */
#global { 
/* pas de largeur définie donc la page va occuper toute la largeur */
}
/* --- Zone de gauche --- */
#bloc_gauche {
	float: left;
	width: 220px;
	background-color:#DEEBF1;
}
.gauche{
	background-color:white;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	margin-bottom:10px;
	-moz-border-radius:10px;
}
.gauche ul{
	list-style-type: none;
	margin:5px;
	padding:0;
	border-style:none;
}
.gauche a{
	color:black;
	text-decoration:none;
}
.gauche a:hover{font-weight:bold;}
.gauche h2{
	font-size:14px;
	margin:5px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
}
.gauche h2:first-letter{color:red;}

/* --- Zone de droite --- */
.contenu {
	color:black;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	margin-left:230px;
	padding-left:10px;
	margin-right:30px;
	-moz-border-radius:10px;
	background-color:white;
}
.contenu p{
	font-size: 10pt ;
	color: black ;
}
.contenu h2{
	font-size:14px;
	margin:5px;
	color:black;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#DEEBF1;
}
.contenu h2:first-letter{color:red;}
.contenu table,tr,td,th{
	text-align:left;
	font-size:10pt;
	color:black;
	border-width:1px;
	border-style:solid;
	border-color:#809AD0;
	padding:0;
	margin:0;
}
.contenu table{
	border-right-style:none;
}
.contenu th{
	color:white;
	padding-left:2px;
	background:url(images/fond.gif);
	background-repeat:repeat-x;
	background-position:center;
	border-style:none;
}
.contenu td{
	border-left-style:none;
	padding-left:2px;
	border-bottom-style:none;
	background-color:white;
}
.contenu a{
	font-size:10pt;
	color:black;
	font-weight:bold;
	text-decoration:none;
}
.contenu a:hover{text-decoration:underline;}

#actions{}
#actions ul{
	list-style-type: none;
	margin:5px;
	padding:0;
	border-style:none;
}
#actions li {
	display:inline;
}
#actions a{
	font-weight:strong;
}
#actions a:hover{text-decoration:underline;}
#actions img{
	border-style:none;
}

#recherche{}
#recherche ul{
	font-weight:bold;
	list-style-type: none;
	margin:5px;
	padding:0;
	border-style:none;
}
#recherche li {
	display:inline;
}
/* ----- Zone inférieure ----- */
#pied {
	text-align:center;
	margin:10px;
	font-size:10px;
	text-align:center;
}
